@model MedicalInstitution.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Пациент</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateHospitalisation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateHospitalisation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDischarge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDischarge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultTreatment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultTreatment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientId">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
